<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LWD_DataProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
    <userSettings>
        <LWD_DataProcess.Properties.Settings>
            <setting name="DBPath_WellInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPath_ChartInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="RawFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ChartFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Well_ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_Chart_ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="WellName" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="ToolSize" serializeAs="String">
                <value>6.75</value>
            </setting>
            <setting name="SBR" serializeAs="String">
                <value>2.9</value>
            </setting>
            <setting name="Tb" serializeAs="String">
                <value>11.48</value>
            </setting>
            <setting name="GDIR_SBR" serializeAs="String">
                <value>2.9</value>
            </setting>
            <setting name="GDIR_Tb" serializeAs="String">
                <value>11.48</value>
            </setting>
            <setting name="GDIR_BoreHole" serializeAs="String">
                <value>6.75</value>
            </setting>
            <setting name="GDIR_MudRes" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="WPR_Borehole" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="WPR_MudRes" serializeAs="String">
                <value>1.0</value>
            </setting>
        </LWD_DataProcess.Properties.Settings>
    </userSettings>
</configuration>
